body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    color: white;
    margin: 0px;
    padding: 8px;
    font-family: 'Fredoka One', sans-serif;
    width: 16%;
    text-shadow:         1px 1px 0px black,   /* Bottom-right shadow */
    -1px 1px 0px black,  /* Bottom-left shadow */
    1px -1px 0px black,  /* Top-right shadow */
    -1px -1px 0px black; /* Top-left shadow */;
}
    


    
ul {
    margin: 0px;
}

body > header {
    background-color: lightblue;  
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main > article {
    width: 60%;
    margin: auto;
}

#main-content {
    display: flex;
}

#main-content > div {
    width: 70%;
}


form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: lightblue;  
    display: flex;
}

img {
    border-radius: 60%;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.destination {
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: #fff;
    width: 300px;
    text-align: center;
}

.destination img {
    max-width: 100%;
    height: auto;}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
  margin-left: 12px;  
}

#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
}

#profilePicture {
    border-radius: 50%; /* Makes the image circular */
    border: 2px solid #333; /* Adds a border around the image */
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
    max-width: 100%; /* Makes sure the image is responsive */
    height: auto;}